.sidebar {
    background-color: #1E3A8A; /* Dark blue */
    color: white;
    height: 100vh;
    width: 250px;
    padding: 20px;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.sidebarLogo h2 {
    color: #1E90FF; /* Light blue */
    margin-bottom: 40px;
    text-align: center;
}
.sidebarMenu {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center; /* Center menu items vertically */
    flex-grow: 1;
    margin-top: -100px;
}

.sidebarMenu .menuItem {
    padding: 12px;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s;
    text-align: center;
}

.sidebarMenu .menuItem:hover {
    background-color: #1E90FF;
}

.sidebarMenu .active {
    background-color: #1E90FF;
}
